@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-navy: #020A38;
    --shadow-blue: #3EA5FF;
}

.ff-l {
    font-weight: 100;
}

.ff-b {
    font-weight: bold;
}

.ff-m {
    font-weight: 600;
}

.fs-0 {

    font-size: calc(3.5rem + .6vw) !important;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0 !important
}

.row {
    margin: 0;
}

#nav {
    z-index: 9999;
    transition: linear .5s;
}

.box {

    /* max-height: 937px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-md-7 .txt div:nth-child(1) {
    background-image: url(/img/neft_words.png);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.website {
    width: 160px;
    height: 50px;

}

.txt-shadow {
    text-shadow: 0px 3px 6px var(--shadow-blue);
}

.obj-shadow {
    box-shadow: 0px 0px 6px var(--shadow-blue);
}

.title {
    background-image: url(/img/title_shadow.png);
    height: 232px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-slide {
    height: inherit;
    max-width: 175px;
    background-size: 100%;
    height: 210px !important;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-track {
    height: 250px;
}

.nft {
    height: 210px;
}

.roadmap-card {
    position: relative;
    border: solid 8px #213556;
    background: #18273F;
}

/* .roadmap-card::before {
    content: '완료';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -31px;
    top: -20px;
    background-color: #213556;
} */
.roadmap-card .check {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3EA5FF;
    border: 8px solid #213556;
    bottom: -28px;
}

.profile {
    max-width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 70%;
    background-size: cover;
}

.profile[data-profile="1"] {
    background-image: url(/img/profile.jpg);
    box-shadow: 17px 14px 1px #17a990;
}

.profile[data-profile="2"] {
    background-image: url(/img/profile.jpg);
    box-shadow: -17px 14px 1px var(--main-navy);

}

table>* {
    text-align: center;
}

.container-fluid {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

#section1,
#section2,
#section3,
#section4,
footer {
    scroll-snap-align: start;
    position: relative;
    height: auto;
    min-height: 100vh;
}

footer {
    height: 220px;
    min-height: 0px !important;
}

.fc-blue {
    color: var(--shadow-blue);
}

.service-content-img-2 {
    background: url(/img/service_content_img_2.png);
    max-width: 100%;
    padding-bottom: 100%;
    background-size: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    translate: 80px;
    background-position: center;
}

.service-content-img-2-1 {
    background: url(/img/service_content_img_2_1.png);
    background-size: 80%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    transform: rotate(25deg);
    z-index: 0;
    right: 0;
    background-position: center;
}

.service-content-img-3 {
    background: url(/img/service_content_img_3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 475px;
}

.service-content-img-4 {
    background: url(/img/service_content_img_4.png);
    min-height: 40vw;
    background-position: center;
    background-size: 130%;
}

.wire {
    background: #adb5bd;
    height: 4px;
    border-radius: 30px;
}

.wire>div {
    background: #adb5bd;
    width: 14px;
    height: 14px;
    border-radius: 20px;
}

.todo-content-img-1 {
    background: url(/img/camera.png);
    padding-bottom: 25%;
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.todo-content-img-2 {
    background: url(/img/card.png);
    max-width: 100%;
    min-width: 350px;
    padding-bottom: 67%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.todo-content-img-3 {
    background: url(/img/todo_content_img_3.png);
    max-width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.weare-content-img-1{
    background-image: url(/img/weare_content_img_1.png);
        width: 100%;
        padding-bottom: 35%;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
}
.weare-title{
    background: transparent linear-gradient(89deg, #1ECB80 0%, #267BC5 100%) 0% 0% no-repeat padding-box;
    height: 94px;
}
.av-container {
    width: 100%;
}